/* Alarm Clock Readout Styles .css for Aggresso Render Process*/


/* Time Readout */
#clock-face {
    position: fixed;
    z-index: 4;
    bottom: 3vh;
    left: 3vh;
    height: 37.5vh;
    width: 65vh;
    background: rgba(165, 165, 165, 0.7);
    transition: width 0.15s;
}

#clock-face p {
    position:absolute;
    z-index:5;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: 300;
}

#clock-time {
    bottom:-1vh;
    left:2vh;
    font-size:20.5vh;
    line-height:0;
}


#clock-bg-buffer {
    width: 2vh;
}

#clock-time-separator {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

#clock-time-separator.hidden {
    opacity: 0.2;
}

#clock-tod {
    font-size:6vh;
}

#clock-date {
    bottom:-2vh;
    left:2vh;
    font-size:8vh;
    line-height:0;
}

#clock-dotw {
    bottom:24.5vh;
    left:2vh;
    font-size:8vh;
    line-height:0;
}


/* Alarm Readout */

#alarm-readout {
    position: fixed;
    z-index: 4;
    bottom: 3vh;
    right: 3vh;
    height: 15vh;
    width: calc(100vw - 74vh);
    background: rgba(165, 165, 165, 0.7);
    transition: width 0.15s;
}

#alarm-readout p {
    position:absolute;
    z-index:5;
    text-align: center;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

#alarm-title {
    display: none;
    width: 100%;
    top: -3vh;
    font-size: 5vh;
}

#alarm-upcomming {
    display: none;
    width: 100%;
    top: 5vh;
    font-size: 3vh;
    font-weight: 300;
    color: rgba(255,255,255,0.9)
}

.alarm-tod {
    font-size: 0.5em;
}

#alarm-upcomming > :first-child::before {
    content: '( '
}

#alarm-upcomming > span::after {
    content: ', ';
}

#alarm-upcomming > :last-child::after {
    content: ' )'
}

#alarm-empty {
    width: 100%;
    top: -2vh;
    font-size: 6vh;
}

#alarm-readout.full > #alarm-title, #alarm-readout.full > #alarm-upcomming {
    display: initial;
}

#alarm-readout.full > #alarm-empty, #alarm-readout.single > #alarm-empty {
    display: none;
}

#alarm-readout.single > #alarm-title {
    display: initial;
    top:-0.5vh;
}