/* Alarm Clock Readout Styles .css for Aggresso Render Process*/

#clock-face {
    position: fixed;
    z-index: 4;
    bottom: 3vh;
    left: 3vh;
    height: 37.5vh;
    width: 65vh;
    background: rgba(165, 165, 165, 0.7);
    transition: width 0.25s;
}

#clock-face p{
    position:absolute;
    z-index:5;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: 300;
}

#clock-time {
    bottom:-1vh;
    left:2vh;
    font-size:20.5vh;
    line-height:0;
}


#clock-bg-buffer {
    width: 2vh;
}

#clock-time-separator {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

#clock-time-separator.hidden {
    opacity: 0.2;
}

#clock-tod {
    font-size:6vh;
}

#clock-date {
    bottom:-2vh;
    left:2vh;
    font-size:8vh;
    line-height:0;
}

#clock-dotw {
    bottom:24.5vh;
    left:2vh;
    font-size:8vh;
    line-height:0;
}